@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app.lp-wraper {
  padding: 0;
}

.lp-wraper {
  overflow: hidden;
  margin-top: 70px;
}

.maxWidth {
  max-width: 1200px !important ;
  margin: 0 auto;
}